<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to(project.name, project_entries_path(project)) %>
      <!-- <a href="<%= project_entries_path(project) %>"></a> -->
      <% if project.description.present? %>
       - <%= project.description %>
      <% end %>
    </li>
  <% end %>
</ul>

<!--<p><%= @projects.inspect %></p>-->
